#search-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

span {
  position: relative;
  top: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #1A8FE3;
}

.search {
  width: 55%;
}

.searchTerm {
  width: 100%;
  border: 1px solid #a6a6a6;
  border-right: none;
  padding: 25px;
  border-radius: 20px;
  outline: none;
  -webkit-box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.3); 
  box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.3);
}