#uploader-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

label {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffea00;
  padding: 10px;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
}

input {
  padding: 10px;
}

.upload-button {
  color: #1A8FE3;
  background: #FFF;
  margin-top: 10px;
  cursor: pointer;   
  border: 0;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.3); 
  box-shadow: 5px 5px 14px 1px rgba(0,0,0,0.3);
  outline: 0;
  width: 50%;
  padding: 10px 0px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation {
  color: #FFF;
}